<h3 class="csv-table__title">{{currentFileName}}</h3>

<table class="csv-table__content table table-hover table-striped">
    <thead>
        <tr class="table-danger">
          <th scope="col">#</th>
          <th *ngFor="let item of data[0]" scope="col">{{item}}</th>
        </tr>
      </thead>
    <tbody>
        <tr *ngFor="let row of data.slice(1); let i=index">
            <th scope="row">{{i}}</th>
            <td *ngFor="let item of row" scope="row">{{item}}</td> 
        </tr>
    </tbody>
</table>
