@import '../../../shared/variables.scss';

.csv-panel {

    &__nav {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        padding: 5px;
        border-bottom: 2px solid $color-primary;   
    }

    &__nav-item {
        cursor: pointer;
        font-size: $nav-text;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: $color-secondary;

        & > * {
            cursor: pointer;
        }
    }
    
    &__file {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__content {
        max-height: 100%;
        overflow: auto;
    }

    &__title {
        font-size: $nav-text;
        font-weight: 600;
        margin-right: 10px;
    }
}