
$primary-text: 18px;
$nav-text: 24px;
$logo-text: 48px;
$color-text-nav : white;
$color-nav-hover : rgba(165, 119, 119, 0.626);
$color-primary: rgb(165, 119, 119);
$color-secondary: rgb(251, 219, 219);