<div class="app">
  <nav class="app__nav">
    <h1>CSV Reader</h1>
    <div class="app__nav-list nav_main">
      @if (!isLogging) {
        <a class="app__nav-item" routerLink="/login">Entrance</a>
      }
      @else {
        <a class="app__nav-item" routerLink="/csv-panel">Csv panel</a>
        <div class="app__nav-right-panel">
          Hello, {{user?.name}}
        </div>
      }
    </div>
  </nav>

  <main class="app__content">
    <router-outlet></router-outlet>
  </main>

  <footer class="app__footer">
    Создатель : artem06
  </footer>
</div>