/* You can add global styles to this file, and also import other style files */

a {
    margin: 0;
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

@import url('../node_modules/normalize.css/normalize.css');