/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/normalize.css/normalize.css');
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

a {
    margin: 0;
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.button {
    border : none;
}
